.hidden-screen { display: none !important; }

/* Transisi Accordion */
.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1), padding 0.4s ease;
}
.accordion-open .accordion-content {
    max-height: 350px; 
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Mekanik Drag */
.draggable {
    touch-action: none;
    cursor: grab;
    transition: transform 0.1s;
}
.draggable:active {
    cursor: grabbing;
}

/* Animasi Pop-up Sukses */
@keyframes pop {
    0% { transform: scale(0.8); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}
.animate-pop { 
    animation: pop 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards; 
}
